body {
  background: url(../img/10.jpg);
  height:100%;
  width:100%;
  border: 0:
  padding: 0;
  position: absolute;
  overflow-x: scroll;
}

#logo-img{
  width: 150px;
  height: 100px;
}

#decoracion {
  height: 100px;
  width: 300px;
}

#fondo {
  background-color: rgba(0,0,255,0.5);
}
#fondo2 {
  background-color: rgba(0,0,255,0.5);
}
#pie {
  color: white;
  font-size: 15px;
}

p,h3,h5 {
  color: white;
  text-align: justify;
}

a:hover {
  font-weight: bold;
  font-size: 20px;
  color: #95E690;
}
.historial, a {
color: white;
hover: none;
}
